<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Рецепты</title>
    <link rel="stylesheet" href="{% static './pages/index.css' %}">
</head>
<body class="body">
  <header class="header">
      <nav class="nav">
          <div class="nav__container container">
              <ul class="nav__items list">
                  <li class="nav__item nav__item_active"><a href="#" class="nav__link link">Рецепты</a></li>
                  <li class="nav__item"><a href="#" class="nav__link link">Мои подписки</a></li>
                  <li class="nav__item"><a href="#" class="nav__link link">Создать рецепт</a></li>
                  <li class="nav__item"><a href="#" class="nav__link link">Избранное</a></li>
                  <li class="nav__item"><a href="#" class="nav__link link">Список покупок</a>
                      <span class="badge badge_style_blue nav__badge" id="counter">4</span></li>

              </ul>
              <ul class="nav__items list">
                  <li class="nav__item"><a href="#" class="nav__link link">Изменить пароль</a></li>
                  <li class="nav__item"><a href="#" class="nav__link link">Выход</a></li>
              </ul>
          </div>
      </nav>
  </header>
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            <ul class="tags">
                {% for tag in all_tags %}
                    <li class="tags__item">
                        {% get_tag tag.name request.GET.urlencode as tagged %}
                        <a id="{{ tag.name }}" class="tags__checkbox tags__checkbox_style_{{ tag.badge_color }}
                        {% if tagged == 1 %} tags__checkbox_active {% endif %}"
                           href="{{ request.path }}?{% change_tag tag.name request.GET.urlencode %}"></a>
                        <label class="tags__label">{{ tag.name }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-list">
            {% for recipe in page %}
                {% include "recipe_card.html" with recipe=recipe %}
            {% endfor %}
        </div>

        <nav class="pagination" aria-label="Search results pages">
            <ul class="pagination__container">
                {% if page.number|add:'-2' > 0 %}
                    <li class="pagination__item">
                        <a class="pagination__link link"
                           href="{{ request.path }}?{% set_page 1 request.GET.urlencode %}">1
                        </a>
                    </li>
                {% endif %}
                {% if page.number|add:'-3' > 0 %}
                    <li class="pagination__item">
                        <a class="pagination__link link"
                           href="{{ request.path }}?{% set_page page.number request.GET.urlencode -2 %}">...
                        </a>
                    </li>
                {% endif %}

                {% for i in page.paginator.page_range %}
                    {% if page.number == i %}
                        <li class="pagination__item pagination__item_active">
                            <a class="pagination__link link" href="#">{{ i }}</a>
                        </li>
                    {% elif i > page.number|add:'-2' and i < page.number|add:'2' %}
                        <li class="pagination__item">
                            <a class="pagination__link link"
                               href="{{ request.path }}?{% set_page i request.GET.urlencode %}">{{ i }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page.paginator.num_pages > page.number|add:'2' %}
                    <li class="pagination__item">
                        <a class="pagination__link link"
                           href="{{ request.path }}?{% set_page page.number request.GET.urlencode 2 %}">...
                        </a>
                    </li>
                {% endif %}
                {% if page.paginator.num_pages > page.number|add:'1' %}
                    <li class="pagination__item">
                        <a class="pagination__link link"
                           href="{{ request.path }}?{% set_page page.paginator.num_pages request.GET.urlencode %}">
                            {{ page.paginator.num_pages }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </main>
    <footer class="footer">
        <div class="footer__container container">
            <a href="#" class="footer__brand link">Продуктовый помощник</a>
            <ul class="footer__items">
                <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
                <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
            </ul>
        </div>
    </footer>
  <script src="{% static './js/components/MainCards.js' %}"></script>

  <script src="{% static './js/components/Purchases.js' %}"></script>
  <script src="{% static './js/components/Favorites.js' %}"></script>

  <script src="{% static './js/config/config.js' %}"></script>
  <script src="{% static './js/components/CardList.js' %}"></script>
  <script src="{% static './js/components/Header.js' %}"></script>

  <script src="{% static './js/api/Api.js' %}"></script>
  <script src="{% static 'indexAuth.js' %}"></script>
</body>
</html>
