<!doctype html>
<html lang="en">
{% load static %}
{% load top_n %}
{% load define %}
{% load subtract %}
{% load user_title %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мои подписки</title>
    <link rel="stylesheet" href="{% static './pages/myFollow.css' %}">
</head>
<body class="body">
{% include "header.html" %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        {% for author in authors %}
            <div class="card-user" data-author="{{ author.id }}">
                <div class="card-user__header">
                    <h2 class="card-user__title"><a href="/author/{{ author.id }}/">{{ author|user_title }}</a></h2>
                </div>
                <div class="card-user__body">
                    <ul class="card-user__items">
                        {% for recipe in author.recipes.all|top_n:3 %}
                            <li class="card-user__item">
                                <div class="recipe">
                                    <img src="{{ recipe.image_url }}" alt="{{ recipe }}" class="recipe__image">
                                    <h3 class="recipe__title"><a href="{% url 'single_page' recipe.id %}">{{ recipe }}</a></h3>
                                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} </p>
                                </div>
                            </li>
                        {% endfor %}
                        <li class="card-user__item">
                            {% subtract author.recipes.all.count 3 as more %}
                            {% if more > 0 %}
                                <a href="/author/{{ author.id }}/" class="card-user__link link">Ещё рецепты ... ({{ more }})</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="card-user__footer">
                    <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "pagination.html" with page=page paginator=paginator  %}
</main>
{% include "footer.html" %}
<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/MainCards.js' %}"></script>
<script src="{% static './js/components/MyFollow.js' %}"></script>
<script src="{% static './js/components/Subscribe.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>

</body>
</html>
