{% load static %}
<div class="card" data-id="120">
    <a href="{% url 'single_page' recipe_id=recipe.id %}" class="link" target="_blank">
        <img src="{{ recipe.image_url }}" alt="Какой-то текст" class="card__image">
    </a>
    <div class="card__body">
        <a class="card__title link" href="#" target="_blank">{{ recipe }}</a>
        <ul class="card__items">
            {% for tag in recipe.tag.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.badge_color }}">{{ tag }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.author }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
    </div>
</div>
