<!doctype html>
<html lang="en">
{% load static %}
{% load dict_get %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static './pages/form.css' %}">
</head>
<body class="body">
{% include 'header.html' %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Регистрация</h1>
    </div>
    <div class="form-container">
        <form class="form" method="POST">
            {% csrf_token %}
            {% include "reg_or_auth_form_input.html" with id="id_first_name" text="Имя" type="text" name="first_name"  %}
            {% include "reg_or_auth_form_input.html" with id="id_username" text="Имя пользователя" type="text" name="username"  %}
            {% include "reg_or_auth_form_input.html" with id="id_email" text="Адрес электронной почты" type="email" name="email"  %}
            {% include "reg_or_auth_form_input.html" with id="id_password1" text="Пароль" type="password" name="password1"  %}
            {% include "reg_or_auth_form_input.html" with id="id_password2" text="Пароль (повторно)" type="password" name="password2"  %}
            <div class="form__footer">
                <button class="button button_style_blue">Создать аккаунт</button>
            </div>
        </form>
    </div>


</main>
{% include 'footer.html' %}</body>
</html>
