<!doctype html>
<html lang="en">
{% load static %}
{% load dict_get %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static './pages/form.css' %}">
      <link rel="shortcut icon" href="#" />
  <link rel="shortcut icon" href="#" />
</head>
<body class="body">
{% include 'header.html' %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>
    </div>
    <div class="form-container">
        <form class="form" method="POST">
            {% csrf_token %}
            <p class="form__info-text">
                Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
            </p>
            {% include "reg_or_auth_form_input.html" with id="id_email" text="Адрес электронной почты" type="email" name="email"  %}
            <div class="form__footer">
                <button class="button button_style_blue">Сбросить пароль</button>
            </div>
        </form>
    </div>
</main>
{% include 'footer.html' %}</body>
</html>
